<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page: 

https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.  
For example:
 - Textual annotations in numeric fields: `1000 (Updated with 1050)`
 - Attached reference links: `Bike sharing system [123]`
 - Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
 - HTML style tags: `<span style="color:blue">Bike sharing system</span>`
 - Special characters: `&nbsp` for a white space
 
Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:
  - TASK: Standardize column names for all collected datasets
  - TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
  - TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [1]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)

Loading required package: tidyverse

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:
- `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
- `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
- `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
- `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [ ]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:
 - Column names need to be UPPERCASE
 - The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [8]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'cities_weather_forecast.csv', 'raw_worldcities.csv')

_TODO_: Write a `for` loop to iterate over the above datasets and convert their column names

In [9]:
for (dataset_name in dataset_list){
    # Read dataset
    dataset <- read_csv(dataset_name)
    # Standardized its columns:
    numeric_cols <- sapply(dataset, is.numeric)
    dataset[, numeric_cols] <- scale(dataset[, numeric_cols])
    # Convert all column names to uppercase
    colnames(dataset) <- toupper(colnames(dataset))
    # Replace any white space separators by underscores, using the str_replace_all function
    colnames(dataset) <- str_replace_all(colnames(dataset), "\\s", "_")
    # Save the dataset 
    write.csv(dataset, dataset_name, row.names=FALSE)
}

Rows: 554 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...
dbl  (1): ...1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): DATE, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, HOUR, TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBI...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 164 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): city, weather, season
dbl  (8): visibility, temp, temp_min, temp_max, pressure, humidity, wind_spe...
dttm (1): forecast_datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): City, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

_TODO_: Read the resulting datasets back and check whether their column names follow the naming convention

In [11]:
for (dataset_name in dataset_list){
    # Print a summary for each data set to check whether the column names were correctly converted
    ds = read.csv(dataset_name)
    print(summary(ds))
}

      ...1           COUNTRY              CITY               NAME
 Min.   :-1.7274   Length:554         Length:554         Length:554
 1st Qu.:-0.8637   Class :character   Class :character   Class :character
 Median : 0.0000   Mode  :character   Mode  :character   Mode  :character
 Mean   : 0.0000
 3rd Qu.: 0.8637
 Max.   : 1.7274
    SYSTEM            OPERATOR           LAUNCHED         DISCONTINUED
 Length:554         Length:554         Length:554         Length:554
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character



   STATIONS           BICYCLES         DAILY_RIDERSHIP
 Length:554         Length:554         Length:554
 Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character



     DATE           RENTED_BIKE_COUNT      HOUR          TEMPERATURE
 Length:8760        Min.   :-1.1320   Min.   :-1.6612   Min.   :-2.56760
 Class :character   1st Qu.:-0.8020   1st Qu.:-0.8306   1st Qu.:-0.79262
 Mode  :character   Median :-0.2914   Median : 0.0000   Median : 0.06975
                    Mean   : 0.0000   Mean   : 0.0000   Mean   : 0.00000
                    3rd Qu.: 0.5524   3rd Qu.: 0.8306   3rd Qu.: 0.80654
                    Max.   : 4.4008   Max.   : 1.6612   Max.   : 2.22149
                    NA's   :295                         NA's   :11
    HUMIDITY          WIND_SPEED        VISIBILITY      DEW_POINT_TEMPERATURE
 Min.   :-2.85950   Min.   :-1.6645   Min.   :-2.3177   Min.   :-2.65489
 1st Qu.:-0.79687   1st Qu.:-0.7960   1st Qu.:-0.8167   1st Qu.:-0.67179
 Median :-0.06022   Median :-0.2170   Median : 0.4294   Median : 0.07857
 Mean   : 0.00000   Mean   : 0.0000   Mean   : 0.0000   Mean   : 0.00000
 3rd Qu.: 0.77465   3rd Qu.: 0.5549   3rd Qu.: 0.9258   3rd Qu.: 0.82128
 Max.   : 1.95329   Max.   : 5.4763   Max.   : 0.9258   Max.   : 1.77071

 SOLAR_RADIATION      RAINFALL          SNOWFALL         SEASONS
 Min.   :-0.6551   Min.   :-0.1318   Min.   :-0.1719   Length:8760
 1st Qu.:-0.6551   1st Qu.:-0.1318   1st Qu.:-0.1719   Class :character
 Median :-0.6436   Median :-0.1318   Median :-0.1719   Mode  :character
 Mean   : 0.0000   Mean   : 0.0000   Mean   : 0.0000
 3rd Qu.: 0.4154   3rd Qu.:-0.1318   3rd Qu.:-0.1719
 Max.   : 3.3967   Max.   :30.8913   Max.   :19.9771

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character




     CITY             WEATHER            VISIBILITY             TEMP
 Length:164         Length:164         Min.   :-12.57005   Min.   :-2.1319
 Class :character   Class :character   1st Qu.:  0.07906   1st Qu.:-0.7636
 Mode  :character   Mode  :character   Median :  0.07906   Median : 0.2122
                                       Mean   :  0.00000   Mean   : 0.0000
                                       3rd Qu.:  0.07906   3rd Qu.: 0.7325
                                       Max.   :  0.07906   Max.   : 1.6641
                                       NA's   :4           NA's   :4
    TEMP_MIN          TEMP_MAX          PRESSURE           HUMIDITY
 Min.   :-2.1165   Min.   :-2.1391   Min.   :-1.65093   Min.   :-2.1030
 1st Qu.:-0.8284   1st Qu.:-0.7219   1st Qu.:-0.88026   1st Qu.:-0.6730
 Median : 0.1980   Median : 0.2097   Median : 0.08309   Median : 0.1070
 Mean   : 0.0000   Mean   : 0.0000   Mean   : 0.00000   Mean   : 0.0000
 3rd Qu.: 0.7357   3rd Qu.: 0.7310   3rd Qu.: 1.04643   3rd Qu.: 0.8978
 Max.   : 1.6632   Max.   : 1.6644   Max.   : 1.62444   Max.   : 1.4937
 NA's   :4         NA's   :4         NA's   :4          NA's   :4
   WIND_SPEED         WIND_DEG       FORECAST_DATETIME     SEASON
 Min.   :-1.7449   Min.   :-2.3003   Length:164         Length:164
 1st Qu.:-0.7308   1st Qu.:-0.6901   Class :character   Class :character
 Median :-0.1392   Median : 0.4052   Mode  :character   Mode  :character
 Mean   : 0.0000   Mean   : 0.0000
 3rd Qu.: 0.6173   3rd Qu.: 0.7119
 Max.   : 2.9555   Max.   : 1.4239
 NA's   :4         NA's   :4
     CITY            CITY_ASCII             LAT               LNG
 Length:26569       Length:26569       Min.   :-3.9310   Min.   :-2.2750
 Class :character   Class :character   1st Qu.:-0.2312   1st Qu.:-0.9117
 Mode  :character   Mode  :character   Median : 0.3181   Median : 0.1433
                                       Mean   : 0.0000   Mean   : 0.0000
                                       3rd Qu.: 0.6650   3rd Qu.: 0.5551
                                       Max.   : 2.1712   Max.   : 2.5793

   COUNTRY              ISO2               ISO3            ADMIN_NAME
 Length:26569       Length:26569       Length:26569       Length:26569
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   CAPITAL            POPULATION            ID
 Length:26569       Min.   :-0.1805   Min.   :-1.9211
 Class :character   1st Qu.:-0.1702   1st Qu.:-0.9723
 Mode  :character   Median :-0.1581   Median : 0.3029
                    Mean   : 0.0000   Mean   : 0.0000
                    3rd Qu.:-0.1145   3rd Qu.: 0.9879
                    Max.   :42.0322   Max.   : 1.3150
                    NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [12]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Rows: 554 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...
dbl  (1): ...1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [13]:
# Print its head
head(bike_sharing_df)

  ...1      COUNTRY   CITY                  NAME
1 -1.727366 Albania   Tirana[5]             Ecovolis
2 -1.721119 Argentina Buenos Aires[6][7]    Ecobici
3 -1.714872 Argentina Mendoza[10]           Metrobici
4 -1.708624 Argentina Rosario               Mi Bici Tu Bici[11]
5 -1.702377 Argentina San Lorenzo, Santa Fe Biciudad
6 -1.696130 Australia Melbourne[12]         Melbourne Bike Share
  SYSTEM            OPERATOR                     LAUNCHED
1 NA                NA                           March 2011
2 Serttel Brasil[8] Bike In Baires Consortium[9] 2010
3 NA                NA                           2014
4 NA                NA                           2 December 2015
5 Biciudad          NA                           27 November 2016
6 PBSC & 8D         Motivate                     June 2010
  DISCONTINUED         STATIONS BICYCLES DAILY_RIDERSHIP
1 NA                   8        200      NA
2 NA                   400      4000     21917
3 NA                   2        40       NA
4 NA                   47       480      NA
5 NA                   8        80       NA
6 30 November 2019[13] 53       676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):
 - `COUNTRY`: Country name 
 - `CITY`: City name
 - `SYSTEM`: Bike-sharing system name
 - `BICYCLES`: Total number of bikes in the system

In [14]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [15]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [16]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [17]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  1790 (2019)[21]
2  4200 (2021)
3  4115[25]
4  7270 (regular)  2395 (electric)[38]
5  310[65]
6  500[75]
7  [78]
8  180[79]
9  600[82]
10 initially 800 (later 2500)

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced. 

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [19]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [20]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [21]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Tirana[5]
2  Buenos Aires[6][7]
3  Mendoza[10]
4  Melbourne[12]
5  Melbourne[12]
6  Brisbane[14][15]
7  Lower Austria[16]
8  Different locations[19]
9  Brussels[24]
10 Namur[26]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [22]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 Serttel Brasil[8]
2 EasyBike[64]
3 4 Gen.[72]
4 3 Gen. SmooveKey[135]
5 3 Gen. Smoove[162][163][164][160]
6 3 Gen. Smoove[200]
7 3 Gen. Smoove[202]
8 3 Gen. Smoove[204]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some 
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

_TODO:_ Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [42]:
# remove reference link
remove_ref <- function(strings) {
    ref_pattern <- "Define a pattern matching a reference link such as [1]"
    # Replace all matched substrings with a white space using str_replace_all()
    strings <- str_replace_all(strings, "\\[[A-z0-9]+\\]", '')
    # Trim the reslt if you want
    result <- trimws(strings)
    return(result)
}

_TODO:_ Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [44]:
result <- sub_bike_sharing_df %>% mutate(CITY=remove_ref(CITY),SYSTEM = remove_ref(SYSTEM), BICYCLES=remove_ref(BICYCLES))

_TODO:_ Use the following code to check whether all reference links are removed:

In [45]:
result %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

     CITY SYSTEM BICYCLES

# TASK: Extract the numeric value using regular expressions

_TODO:_ Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [78]:
extract_num <- function(columns) {
  # Define a pattern matching a digital substring
  digitals_pattern <- "\\d+"
  
  # Find the first match using str_extract
  v <- str_extract(columns, digitals_pattern)
  
  # Convert the result to numeric using the as.numeric() function
  v <- as.numeric(v)
  
  # Return the numeric values
  return(v)
}

_TODO:_ Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [82]:
# Use the mutate() function on the BICYCLES column
result <- result %>% mutate(BICYCLES = extract_num(BICYCLES))

_TODO:_ Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [83]:
summary(result$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      4      70     300    1842    1000   78000      99

_TODO:_ Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [84]:
# Write dataset to `bike_sharing_systems.csv`
write.csv(result, 'bike_sharing_systems.csv')

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork878-2022-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created      |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>